<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{%static 'css/index2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<header id="header-index">
    <h1 id="titulo-header">EL CEDRO</h1>
    <div id="links-box">
        <a href="" class="links-header">Sobre Nosotros</a>
        <a href="" class="links-header">Contáctanos</a>
        <a href="" class="links-header">Iniciar Sesión</a>
    </div>
</header>
<body>
    <section class="hero-section">
        <div class="overlay">
            <h1 id="titulo-sec">AGUA PURIFICADA CON REPARTO A DOMICILIO</h1>
            <p id="desc-sec">SOMOS UNA EMPRESA UBICADA EN LA LOCALIDAD DE LOS 
                LOROS CON DISTRIBUCION EN COPIAPÓ ENTREGANDO AGUA DE CALIDAD 
                PARA UN ENTORNO SALUDABLE.<p id="eslogan-sec">"HIDRATACIÓN PURA, BIENESTAR SEGURO."</p></p>
            <button class="btn-sec">Contáctanos</button>
            <a href="../registrar-pedido">registrar pedido</a>
            <a href="../listar-pedidos">Lista de pedidos</a>
            <img src="{%static 'img/logocedro.png' %}" alt="" id="logo-sec">
        </div>
    </section>
</body>
</html>